{% extends "lab6/index.html" %}

{% block content %}
<p><a href="/lab6/">Back</a></p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <ul class="list-group">
        <table>
            <tr>
                <td>id</td>
                <td>author_id</td>
                <td>post_id</td>
                <td>text</td>
                <td>date</td>
                <td>likes</td>
            </tr>
        {% for i1, i2, i3, i4, i5, i6 in products %}
        <tr>
            <td>{{ i1 }}</td>
            <td>{{ i2 }}</td>
            <td>{{ i3 }}</td>
            <td>{{ i4 }}</td>
            <td>{{ i5 }}</td>
            <td>{{ i6 }}</td>
        </tr>
        
        {% endfor %}
        </table>
    </ul>
    
{% endblock content %}