{% extends "lab6/index.html" %}

{% block content %}
<p><a href="/lab6/">Back</a></p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <ul class="list-group">
        <table>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>surname</td>
            </tr>
        {% for id, name, surname in products %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ surname }}</td>
        </tr>
        
        {% endfor %}
        </table>
    </ul>
    
{% endblock content %}